a:link {
  color: #a0c8f0;
  border-bottom: 1px dashed;
}
a:visited {
  color: #EF7D55;
}
a:hover {
  color: #154088;
  border-bottom: .07em solid;
}
a:active {
  color: #497DDD;
  border-bottom: 1px dashed;
}
p {
	color: #a0c8f0;
}
h1{
color: #a0c8f0;
}body{
     width: 100%;
     max-width: 1400px;
     display: block;
     margin: auto;
     min-height: 100vh;
     background: #060606;
     font-family: sans-serif;
 }